@media only screen and (min-width: 501px) and (max-width: 800px) {
  body {
    flex-direction: column;
  }

  div#welcome-side-container {
    height: 60%;
    width: 100%;
    box-shadow: 0em 1em 3em rgb(133,126,134)
  }

  h1 {
    font-size: 3.5em;
  }

  p#bottom-text {
    font-size: 1.7em;
  }

  div#login-side-container {
    width: 100%;
    height: 40%;
  }
}