@media only screen and (min-width: 801px) {
  div#welcome-side-container {
    width: 50%;
    height: 100%;
    box-shadow: 1em 0em 3em rgb(133,126,134)
  }

  h1 {
    font-size: 4.375em;
  }

  p#bottom-text {
    font-size: 2.2em;
  }

  div#login-side-container {
    width: 50%;
    height: 100%;
  }
}